.footer {
    background-color: rgb(192, 186, 186);
    color: #1f285e;
    width: 100%;
    padding: 40px 0;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer-content {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.footer-section {
    flex: 1;
    margin-bottom: 20px;
}
  
.footer-section h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    color:#1f285e;
}
  
.footer-section p {
    font-size: 14px;

}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color:#1f285e;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
