.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    color: #1f285e;
    text-align: center;
}

.forgot-password-form {
    margin-top: 20px;
}

.forgot-password-form label {
    display: block;
    margin-bottom: 5px;
}

.forgot-password-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password-form button {
    height: 35px;
    width: 100px;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    background-color: #1541d1;
}

.forgot-password-form button:hover {
    background-color: #0056b3;
}

.btn{
    height: 35px;
    width: 100px;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    background-color: #1541d1;
}

.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.link{
    font-size: 1.5rem;
    color: #0c2d48;
}