.order{
    border: 1px solid rgb(179, 177, 177);
    border-radius: 30px;
    color:  #1f285e;
    font-size: 20px;
    margin-top: 65px;
    text-align: center;
    height: 470px;
    overflow: auto;
    overflow-x: hidden;
}

.detail{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.detail td, .detail th {
    border: 1px solid #929292;
    padding: 8px;
    width: 32lvh;
  }

.detail th {
    background-color: #04AA6D;
    color: white;
  }
  
.input{
    width: 200px;
    height: 20px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 7px;
}

.submit{
    height: 40px;
    width:100px;
    padding-left: 4px;
    border-radius: 8px;
    color: white;
    font-size: 13px;
    border: 1px solid gray;
    background-color: #1541d1;
}