.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(231, 228, 228, 0.986);
    color: black;
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid black;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  
  .popup.show {
    opacity: 1;
    visibility: visible;
  }
  
  .popup-content {
    justify-items: center;
    color: black;
  }
  
  .popup p {
    margin: 0;
  }
  